.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 440px;
  width: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  display: grid;
  box-sizing: border-box;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, "Times New Roman";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  font-size: 14px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-bottom-color: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  line-height: 27.26px;
  margin-top: 0;
  margin-bottom: 29.74px;
  box-sizing: content-box;
}

.modal__form-input:last-of-type {
  margin-bottom: 0;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  transform: rotate(-90deg);
}

.modal__close:hover {
  transition: 0.1s;
  opacity: 0.6;
}

.modal__save {
  margin-top: 47px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  border: 0;
}

.modal__save:hover {
  transition: 0.1s;
  opacity: 0.8;
}

.modal__preview {
   position: relative;
   margin: auto;
   border-radius: 10px;
   box-sizing: border-box;
   max-width: 430px;

}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-label {
  position: absolute;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  bottom: -33px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
}

.modal__container-image {
  background: transparent;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__close {
    top: -40px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__save {
    font-size: 14px;
  }

  .modal__image {
    max-width: 240px;
    height: 299px;
  }
}