.page {
  background: #000;
  font-family: "Inter", sans-serif;
}

.page__content {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page__section {
  width: 100%;
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}


@media (min-width: 627px) and (max-width: 768px) {
  .page__section {
    max-width: calc(100% - 60px);
    margin: 0 30px;
  }
}
@media (min-width: 769px) and (max-width: 942px) {
  .page__section {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}